<% can_update = can? :update, User %>
<% can_deposit = can? :deposit, User %>
<% can_withdraw = can? :withdraw, User %>

<%= render partial: "/groups/top", locals: { current_nav: "students" } %>

<div class= "pull-right"><%= link_to('Add Student', new_group_student_path(group_id: @group.id), class: "btn") if can? :create, User %></div>
<h2>Students</h2>
<br/>
<p>This is a list of students in this class.
  <% if can? :update, User %>
    From here you can add new students, edit student information, delete or navigate to a specific student. Students log in using their username.
  <% end %>
</p>
</br>
<table class="table table-striped table-bordered">
  <thead>
    <th>Student Name</th>
    <th>Last Logged in</th>
    <% if can_update %>
      <th>Account Balance</th>
    <% end %>
    <% if can_deposit || can_withdraw %>
      <th></th>
    <% end %>
    <th>Jobs</th>
    <% if can_update %>
      <th></th>
      <th>Username</th>
    <% end %>
  </thead>
  <tbody>
    <% if @group.users.count > 0 %>
      <% @group.users.order("first_name").each do |member| %>
        <% if member.student? %>
          <tr>
            <td><b style="text-decoration:underline;"><%= link_to(member.display_name, group_student_path(@group,member)) %></b></td>
            <td><%= member.last_sign_in_at != nil ? I18n.l(member.last_sign_in_at, format: :medium) : "Never" %></td>
            <% if can_update %>
              <td>
                <%= number_to_currency(member.account(@group.id).balance) %>
              </td>
            <% end %>
            <% if can_deposit || can_withdraw %>
              <td>
              <div style="padding:1px;">
                <%= link_to("Add Funds",
                    new_group_transaction_path(@group,
                      from_account_id: @group.group_account.id,
                      to_account_id: member.account(@group.id).id
                    ),
                    class: "btn btn-success", style: "width:120px;"
                  ) if can_deposit
                %>
              </div>
              <div style="padding:1px;">
                <%= link_to("Withdraw Funds",
                    new_group_transaction_path(@group,
                      to_account_id: @group.group_account.id,
                      from_account_id: member.account(@group.id).id
                    ),
                    class: "btn btn-danger", style: "width:120px;"
                  ) if can_withdraw
                %>
              </div>
              </td>
            <% end %>
            <td>
              <% jobs = member.job_assignments.where(group_id: @group.id).map { |ja| ja.job.title }.join(", ") %>
              <%= jobs.present? ? jobs : "None" %>
              <br/>

            </td>
            <% if can_update %>

              <td>
                <div class="btn-group">
                  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                    Actions
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to "Assign Job", new_group_job_assignment_path(@group, user_id: member.id) %>
                    </li>
                    <li>
                      <%= link_to "Edit Student Info", edit_group_student_path(@group, member) %>
                    </li>
                </div>
                <br/>
                <%= link_to "Emulate User", switch_user_path(user_id: member.id) %>
              </td>
              <td><%= member.username %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="100">You have no students defined in this group</td>
      </tr>
    <% end %>
  </tbody>
</table>