<%= form_for([@group,@store]) do |f| %>

  <%= render partial: '/shared/errors', locals: { o: @store } %>

  <%= hidden_field_tag :user_id, params[:user_id] %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit (@store.new_record? ? "Save" : "Update"), class: "btn" %>
  </div>
<% end %>
