<%= render partial: "/groups/top", locals: { current_nav: "stores" } %>
<% can_update = can? :update, @group.stores.first %>

<div class="pull-right"><%= link_to("<i class='icon-plus'></i> Open Store".html_safe, new_group_store_path(@group, user_id: current_user.id), class: "btn btn-success") %></div>
<h2>Stores</h2>
</br>
<p>
  This is a list of stores that are in this class. The teacher has a store that is the class store and students can open their own stores with the approval of the teacher.
  <% if can_update %>
    You can add new stores, edit, delete or navigate to a specific student
  <% end %>
</p>
</br>

<h3>Class Store</h3>
<table class="table table-striped table-bordered">
  <thead>
    <th>Name</th>
    <th>Owners</th>
    <th>Managers</th>
    <% unless current_user.student? %>
      <th>Account Balance</th>
      <th></th>
      <th></th>
    <% end %>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to(@group.store.name, group_store_path(@group, @group.store)) %></td>
      <td>
        <% @group.store.store_owners.each do |owner| %>
          <%= link_to(owner.user.display_name, group_student_path(@group, owner.user)) %>&nbsp;
        <% end %>
      </td>
      <td>
       <% @group.store.store_managers.each do |store_manager| %>
          <%= link_to(store_manager.user.display_name, group_student_path(@group, store_manager.user)) %>&nbsp;
       <% end %>
       <%= "None" if @group.store.store_managers.count == 0 %>
     </td>
      <% unless current_user.student? %>
        <% if can? :update, @group.store %>
          <td><%= display_balance(@group.store.account.balance) %></td>
          <td><%= link_to "<i class='icon-cog'></i> Edit".html_safe, edit_group_store_path(@group, @group.store), class: "btn btn-primary" %></td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>


<h3>Student Stores</h3>
<table class="table table-striped table-bordered">
  <thead>
    <th>Name</th>
    <th>Owners</th>
    <th>Manager</th>
    <% unless current_user.student? %>
      <th>Account Balance</th>
      <th></th>
    <% end %>
  </thead>
  <tbody>
    <% if @group.student_stores.approved.count > 0 %>
      <% @group.student_stores.approved.order("name").each do |store| %>
        <tr>
          <td><%= link_to(store.name, group_store_path(@group, store)) %></td>
          <td>
            <% store.store_owners.each do |owner| %>
              <%= link_to(owner.user.display_name, group_student_path(@group, owner.user)) %>&nbsp;
            <% end %>
          </td>
          <td>
           <% store.store_managers.each do |store_manager| %>
              <%= link_to(store_manager.user.display_name, group_student_path(@group, store_manager.user)) %>&nbsp;
           <% end %>
           <%= "None" if store.store_managers.count == 0 %>
         </td>
          <% unless current_user.student? %>
            <% if can? :update, store %>
              <td><%= display_balance(store.account.balance) %></td>
              <td>
                <%= link_to "<i class='icon-cog'></i> Edit".html_safe, edit_group_store_path(@group, store), class: "btn btn-primary" %>
                <%= link_to "<i class='icon-remove-sign'></i> Close".html_safe, [@group,store], method: :delete, data: { confirm: 'This will permanently close the store and transfer all the money back to the school bank. Are you sure?' }, class: "btn btn-danger" %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="10">There are no stores for this class.</td>
      </tr>
    <% end %>
  </tbody>
</table>