<% can_update = can? :update, @store %>
<% can_transact = can? :transact, @store %>
<%= render partial: "/groups/top", locals: { current_nav: "stores" } %>

<% if can_update %>
  <div class="pull-right">
    <%= link_to "<i class='icon-cog'></i> Edit Store Info".html_safe, edit_group_store_path(@group, @store), class: "btn btn-primary" %>
  </div>
<% end %>

<h1><%= @store.name %><h1>
<h4><%= @store.description %></h4>
<hr>
<% if @store.approved && (can_update || can_transact) %>
  <center>
    <%= link_to "<i class='icon-minus'></i> Buy Something".html_safe, new_group_transaction_path(@group, from_account_id: @store.account.id), class: "btn btn-danger" %>
    |
    <%= link_to "<i class='icon-plus'></i> Sell Something".html_safe, new_group_transaction_path(@group, to_account_id: @store.account.id), class: "btn btn-success" %>
    <% if @store.class_store? && (can_update || can_transact) %>
      <br/></br>
      <%= link_to "<i class='icon-plus'></i> Fine Entire Class".html_safe, new_class_transaction_group_transactions_path(@group, to_account_id: @group.group_account.id, from: "store"), class: "btn btn-success" %>
      |
      <%= link_to "<i class='icon-minus'></i> Bonus Entire Class".html_safe, new_class_transaction_group_transactions_path(@group, from_account_id: @group.group_account.id, from: "store"), class: "btn btn-danger" %>

    <% end %>
  </center>
  <hr>
<% end %>
<% unless @store.approved %>
  <div style="color:red;">
    <h3>This store hasn't been approved yet.</h3>
  </div>
  <hr>
<% end %>
<% if can_update || can_transact %>
  <b>Current Balance:</b>
  <%= display_balance(@store.account.balance) %>
  <hr>
<% end %>

<% if can_update || can_transact %>
  <h2>Last 20 Transactions</h2>
  <p><%= link_to "All Transactions", group_transactions_path(@group, account_id: @store.account.id), class: "btn"  %>
  <%= render partial: '/transactions/transactions', locals: { transactions: @store.account.transactions.limit(20).order("created_at DESC"), account_id: @store.account.id } %>
  <hr>
<% end %>

<% if can_update %>
  <div class="pull-right">
    <%= link_to "<i class='icon-plus'></i> Add Owner".html_safe, new_group_store_store_owner_path(@group, @store), class: "btn btn-success" %>
  </div>
<% end %>
<h3>Owners</h3>
<p>Owners have the ability to buy and sell stuff for the store. They can also add other owners, add/remove managers and edit store info.</p>
<table class="table table-striped table-bordered">
  <thead>
    <th>Name</th>
    <% if @store.store_owners.count > 1 && can_update %>
      <th></th>
    <% end %>
  </thead>
  <tbody>
    <% @store.store_owners.each do |store_owner| %>
      <tr>
        <td><%= store_owner.user.display_name %></td>
        <% if @store.store_owners.count > 1 && can_update %>
          <td>
            <%= link_to "<i class='icon-remove-sign'></i> Remove Owner".html_safe, group_store_store_owner_path(@group, @store, store_owner), method: :delete, data: { confirm: "Are you sure you want to remove this owner? This can't be undone."}, class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<% if can_update %>
  <div class="pull-right">
    <%= link_to "<i class='icon-plus'></i> Add Manager".html_safe, new_group_store_store_manager_path(@group, @store), class: "btn btn-success" %>
  </div>
<% end %>
<h3>Managers</h3>
<p>Managers are paid employees of the store that have the ability to buy and sell stuff for the store. Owners should not be managers.</p>
<table class="table table-striped table-bordered">
  <thead>
    <th>Name</th>
    <% if can_transact %>
      <th>Salary</th>
    <% end %>
    <% if can_update %>

      <th></th>
    <% end %>
  </thead>
  <tbody>
    <% if @store.store_managers.count > 0 %>
      <% @store.store_managers.each do |store_manager| %>
        <tr>
          <td><%= store_manager.user.display_name %></td>
          <% if can_update || can_transact %>
            <td><%= display_balance(store_manager.salary) %></td>
          <% end %>
          <% if can_update   %>
            <td>
              <%= link_to "<i class='icon-remove-sign'></i> Remove Manager".html_safe, group_store_store_manager_path(@group, @store, store_manager), method: :delete, data: { confirm: "Are you sure you want to remove this manager? This can't be undone."}, class: "btn btn-danger" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="100">There are no managers for this store.</td>
      </tr>
    <% end %>
  </tbody>
</table>

