<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Salary:</b>
  <%= display_balance(@job.salary) %>
</p>


<%= link_to 'Edit', edit_group_job_path(@group,@job) %> |
<%= link_to 'Back', group_jobs_path(@group) %>
