<% accounts = @group.accounts.order("balance DESC") %>

<div class="row-fluid">

  <div class="span8">
    <h2>Info</h2>
    <p>Charges and payday will occur on <%= first_of_next_month %>.</p>
    <hr>

    <h3>Disputed Transactions</h3>
    <% disputes = @group.disputes.where(result: nil) %>
    <% if disputes.count > 1 %>
      <table class="table table-striped table-bordered">
        <thead>
          <th>ID</th>
          <th>Amount</th>
          <th>To</th>
          <th>From</th>
          <th></th>
        </thead>
        <tbody>
          <% disputes.each do |dispute| %>
            <tr>
              <td><%= dispute.transaction.id %></td>
              <td><%= display_balance(dispute.transaction.amount) %></td>
              <td><%= dispute.transaction.to_account.owner.display_name %></td>
              <td><%= dispute.transaction.from_account.owner.display_name %></td>
              <td><%= dispute.reason %></td>
              <td><%= link_to "Handle Dispute", edit_group_dispute_path(@group, dispute) %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h4>You have no disputed transactions.</h4>
    <% end %>
    <hr>
    <h3>Requested Stores</h3>
    <% if @group.stores.unapproved.count > 0 %>
      <table class="table table-striped table-bordered">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Student</th>
          <th></th>
        </thead>
        <tbody>
          <% @group.stores.unapproved.each do |store| %>
            <tr>
              <td><%= store.name %></td>
              <td><%= store.description %></td>
              <td><%= display_store_owners(store) %></td>
              <td>
                <%= link_to("Approve", approve_group_store_path(@group, store)) %>
                |
                <%= link_to("Deny", deny_group_store_path(@group, store), data: { confirm: "Are you sure you want to deny this store?"} ) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h4>You have no requested stores.</h4>
    <% end %>
    <hr>
  </div>

  <div class="span4 pull-right">
    <h2>Class Actions</h2>
    <div class="well">
      <div style="padding: 2px;">
        <%= link_to "<i class='icon-plus'></i> Bonus Entire Class".html_safe, new_class_transaction_group_transactions_path(@group, from_account_id: @group.group_account.id), class: "btn btn-block btn-success", style: "width: 150px;" %>
      </div>
      <div style="padding: 2px;">
        <%= link_to "<i class='icon-minus'></i> Fine Entire Class".html_safe, new_class_transaction_group_transactions_path(@group, to_account_id: @group.group_account.id), class: "btn btn-block btn-danger", style: "width: 150px;" %>
      </div>
    </div>

    <h2>Highest Accounts</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <th>Account Balance</th>
        <th>Owner</th>
      </thead>
      <tbody>
        <% if accounts.count > 0 %>
          <% accounts[0..5].each do |account| %>
            <tr>
              <td><%= display_balance(account.balance) %></td>
              <td>
                <%=
                  if account.owner_type == "Store"
                    link_to(account.display_name, group_store_path(@group, account.owner))
                  elsif account.owner_type == "User"
                    link_to(account.display_name, group_student_path(@group, account.owner))
                  end
                %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="100">You have no students defined in this group</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2>Lowest Accounts</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <th>Account Balance</th>
        <th>Owner</th>
      </thead>
      <tbody>
        <% if accounts.count > 0 %>
          <% accounts.reverse.each_with_index do |account,index| %>
            <tr>
              <td><%= display_balance(account.balance) %></td>
              <td>
                <%=
                  if account.owner_type == "Store"
                    link_to(account.display_name, group_store_path(@group, account.owner))
                  elsif account.owner_type == "User"
                    link_to(account.display_name, group_student_path(@group, account.owner))
                  end
                %>
              </td>
            </tr>
          <% break if index > 4 %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="100">You have no students defined in this group</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>