<% current_nav = "info" unless defined?(current_nav) %>

<ul class="nav nav-tabs">
  <li <%= 'class=active' if current_nav == "info" %>>
    <%= link_to "Info", group_path(@group)  %>
  </li>
  <li <%= 'class=active' if current_nav == "students" %>>
    <%= link_to "Students", group_students_path(@group)  %>
  </li>
  <li <%= 'class=active' if current_nav == "stores" %>>
    <%= link_to "Stores", group_stores_path(@group)  %>
  </li>
  <li <%= 'class=active' if current_nav == "jobs" %>>
    <%= link_to "Jobs", group_jobs_path(@group)  %>
  </li>
  <li <%= 'class=active' if current_nav == "charges" %>>
    <%= link_to "Charges", group_charges_path(@group)  %>
  </li>
  <li <%= 'class=active' if current_nav == "bills" %>>
    <%= link_to "Bills", group_bills_path(@group)  %>
  </li>
  <li <%= 'class=active' if current_nav == "accounts" %>>
    <%= link_to "Accounts", group_accounts_path(@group)  %>
  </li>
  <li <%= 'class=active' if current_nav == "transactions" %>>
    <%= link_to "Transactions", group_transactions_path(@group)  %>
  </li>
  <% unless current_user.student? %>
    <li <%= 'class=active' if current_nav == "disputes" %>>
      <%= link_to "Disputes", group_disputes_path(@group)  %>
    </li>
    <li <%= 'class=active' if current_nav == "charges" %>>
      <%#= link_to "Charges", group_disputes_path(@group)  %>
    </li>
  <% end %>
</ul>
