<%= form_for(@user) do |f| %>

  <%= render partial: "/shared/errors", locals: { o: @user } %>

  <%= hidden_field_tag :group_id, params[:group_id] %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email, "Email #{'(optional)' if @user.user_type == User::USER_TYPE_STUDENT }" %>
    <%= f.text_field :email %>
  </div>
  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :user_type %>
      <%= f.number_field :user_type %>
    </div>
  <% else %>
    <%= f.hidden_field :user_type %>
  <% end %>

  <div>Select Time Zone:</br>
    <%= time_zone_select( "user", 'time_zone', ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)") %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn" %>
  </div>
<% end %>
