<h1>New Student</h1>

<%= form_for(@user, url: create_student_users_path, method: "post" ) do |f| %>

  <%= render partial: "/shared/errors", locals: { o: @user } %>

  <%= hidden_field_tag :group_id, params[:group_id] %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :user_type %>
      <%= f.number_field :user_type %>
    </div>
  <% else %>
    <%= f.hidden_field :user_type %>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
