<h1>Listing store_managers</h1>

<table>
  <tr>
    <th>Store</th>
    <th>User</th>
    <th>Manage level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_managers.each do |store_manager| %>
  <tr>
    <td><%= store_manager.store_id %></td>
    <td><%= store_manager.user_id %></td>
    <td><%= store_manager.manage_level %></td>
    <td><%= link_to 'Show', store_manager %></td>
    <td><%= link_to 'Edit', edit_store_manager_path(store_manager) %></td>
    <td><%= link_to 'Destroy', store_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store manager', new_store_manager_path %>
