<script type="text/javascript">
  $(document).ready(function() {
    $('#bill_due_date').datepicker({
        format: 'mm/dd/yyyy'
    });
  });
</script>

<%= form_for([@group,@bill]) do |f| %>

  <%= render partial: "/shared/errors", locals: { o: @bill } %>

  <div class="field form-group">
    <%= f.label :from_account %>
    <%= f.select :from_account_id, accounts_for_select(@from_accounts, true), {}, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :amount %>
    $<%= f.text_field :amount, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 3 %>
  </div>

  <div class="field form-group">
    <%= f.label :due_date %>
    <%= f.text_field :due_date, value: I18n.l(@bill.due_date || DateTime.now, format: :date), class: "form-control" %>
  </div>
  <div class="actions form-group pull-right">
    <%= f.submit nil, class: "btn btn-success" %>
    <%= link_to 'Cancel', group_bills_path(@group), class: "btn btn-danger" %>
  </div>
<% end %>