<%= render partial: "/groups/top", locals: { current_nav: "bills" } %>

<h2>Bills</h2>

<h1>Listing bills</h1>

<table class="table table-striped table-bordered">
  <thead>
    <th>From account</th>
    <th>To account</th>
    <th>Group</th>
    <th>User</th>
    <th>Due date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= bill.from_account %></td>
    <td><%= bill.to_account %></td>
    <td><%= bill.group %></td>
    <td><%= bill.user %></td>
    <td><%= bill.due_date %></td>
    <td><%= link_to 'Show', [@group,bill] %></td>
    <td><%= link_to 'Edit', edit_group_bill_path(@group, bill) %></td>
    <td><%= link_to 'Destroy', [@group,bill], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bill', new_group_bill_path(@group) %>
