<%= render partial: "/groups/top", locals: { current_nav: "bills" } %>

<%
  can_update = current_user.teacher? || current_user.admin?
%>
<% if can_update %>
  <div class="pull-right"><%= link_to "<i class='icon-plus'></i> Create Bill".html_safe, new_group_bill_path(@group), class: "btn btn-success" %></div>
<% end %>

<h2>Bills</h2>
<br>
<% if can_update %>
  <p>Bills can be sent to students or stores. The students will see these bill and the date they are due and can pay them from their info page.</p>
<% else %>
  <p>This is a list of bills that have been paid and bills that need to be paid.</p>
<% end %>
<hr>
<h2>Unpaid Bills</h2>
<%= will_paginate @unpaid_bills if @unpaid_bills %>
<table class="table table-striped table-bordered">
  <thead>
    <th>From account</th>
    <th>To account</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Due date</th>
    <th></th>
  </tr>
  <tbody>
    <% if @unpaid_bills.count > 0 %>

      <% @unpaid_bills.each do |bill| %>
        <tr>
          <td><%= bill.from_account.display_name %></td>
          <td><%= bill.to_account.display_name %></td>
          <td><%= display_balance(bill.amount) %></td>
          <td><%= bill.description %></td>
          <td><%= I18n.l bill.due_date, format: :date %></td>
          <% if can_update %>
            <td>
              <%= link_to 'Edit', edit_group_bill_path(@group, bill), class: "btn btn-primary" %>
              <%= link_to "<i class='icon-'></i> Destroy".html_safe, [@group,bill], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </td>
          <% else %>
            <td>
              <%= link_to "Pay Bill", pay_bill_group_bill_path(@group, bill, redirect: group_bills_path(@group)) , data: { confirm: "Are you sure you want to pay this bill?" } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="100">There are no outstanding bills for this class.</td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Paid Bills</h2>
<%= will_paginate @paid_bills, param_name: "page1" if @paid_bills %>
<table class="table table-striped table-bordered">
  <thead>
    <th>From account</th>
    <th>To account</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Due date</th>
    <th>Paid On</th>
  </tr>
  <tbody>
    <% if @paid_bills.count > 0 %>

      <% @paid_bills.each do |bill| %>
        <tr>
          <td><%= bill.from_account.display_name %></td>
          <td><%= bill.to_account.display_name %></td>
          <td><%= display_balance(bill.amount) %></td>
          <td><%= bill.description %></td>
          <td><%= I18n.l bill.due_date, format: :date %></td>
          <td><%= I18n.l bill.paid_date, format: :medium %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="100">There are no paid bills for this class.</td>
      </tr>
    <% end %>
  </tbody>
</table>

