<%= form_for([@group, @dispute]) do |f| %>

  <%= render partial: "/shared/errors", locals: { o: @dispute } %>

  <%= f.hidden_field :owner_id %>
  <%= f.hidden_field :owner_type %>
  <%= f.hidden_field :group_id %>
  <%= f.hidden_field :transaction_id %>

  <div class="field form-group">
    <strong><%= label_tag :transaction, "Transaction" %></strong>
    <%= render partial: "/transactions/transactions", locals: { transactions: [@dispute.transaction] } %>
  </div>
  <div class="field form-group">
    <%= f.label :reason, nil %></b>
    <% unless current_user.teacher? %>
      <%= f.text_area :reason, class: "form-control", rows: 5 %>
    <% else %>
      <br><%= @dispute.reason %>
    <% end %>
  </div>

  <% if current_user.student? %>
    <% if @dispute.result %>
      <div class="field form-group">
        <b><%= f.label :result, nil  %>
        <p><%= @dispute.display_result %></p>
      </div>
      <div class="field form-group">
        <%= f.label :result_reason, nil  %>
        <p><%= @dispute.result_reason %></p>
      </div>
    <% end %>
  <% else %>
    <hr>
    <div class="field form-group">
      <%= f.label :result, nil %>
      <div class="row">
        <div class="col-lg-2">
          <%= f.select :result, options_for_select([["Deny", Dispute::DENY], ["Approve", Dispute::APPROVE]]), {}, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :result_reason, "Result Reason"  %>
      <%= f.text_area :result_reason, class: "form-control", rows: 5 %>
    </div>
  <% end %>
  <div class="actions form-group pull-right">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Cancel', group_disputes_path(@group), class: "btn btn-danger" %>
  </div>
<% end %>
