<%= render partial: "/groups/top", locals: { current_nav: "disputes" } %>

<h2>Disputes</h2>
<br/>
<p>This is a list of disputes in your class. Disputes occur when a student feels that a transaction is in error. The teacher must handle a dispute by approving or denying it. Approving it will create a new transaction that will transfer the money back to the disputing student/store.</p>
<br/>

<table class="table table-striped table-bordered">
  <thead>
    <th>User</th>
    <th>Transaction</th>
    <th>Reason</th>
    <th></th>
  </thead>
  <% if @disputes.count > 0 %>
    <% @disputes.each do |dispute| %>
      <tr>
        <td><%= dispute.owner.display_name %></td>
        <td>
          From: <%= dispute.transaction.from_account.display_name %><br/>
          To: <%= dispute.transaction.to_account.display_name %><br/>
          Amount: <%= number_to_currency(dispute.transaction.amount) %><br/>
          Description: <%= dispute.transaction.description %>
        </td>
        <td><%= dispute.reason %></td>
        <td><%= link_to "Handle dispute", edit_group_dispute_path(@group, dispute) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="100">You have no disputes.</td>
    </tr>
  <% end %>
</table>