<%= render partial: "/groups/top", locals: { current_nav: "disputes" } %>

<h2>Dispute</h2>
<hr>

<strong><%= label_tag :transfer, "Transfer", class: "bold" %></strong>
<%= render partial: "/transfers/transfers", locals: { transfers: [@dispute.transfer] } %>

<table class="table">
  <tr>
    <td width="100px;"><strong>Requester:</strong></td>
    <td><%= @dispute.owner.display_name %></td>
  </tr>
  <tr>
    <td width="100px;"><strong>Reason:</strong></td>
    <td><%= @dispute.reason  %></td>
  </tr>
  <tr>
    <td><strong>Result:</strong></td>
    <td><%= @dispute.display_result %></td>
  </tr>
  <tr>
    <td><strong>Result reason:</strong></td>
    <td><%= @dispute.result_reason %></td>
  </tr>
</table>

<%= link_to 'Back', group_transfers_path(@group) %>
