<script type="text/javascript">
  $(document).ready(function() {
    $('#occurred_on').datepicker({
        format: 'mm/dd/yyyy'
    });
  });
</script>

<div class="container container-half" >
  <div class="page-header">
    <h1>Transfer Funds</h1>
  </div>

  <%= form_tag create_class_transfer_group_transfers_path(@group), class: "form-horizontal" do %>

    <%= render partial: "/shared/errors", locals: { o: @transfer } %>

    <%= hidden_field_tag :from_account_id, params[:from_account_id] %>
    <%= hidden_field_tag :to_account_id, params[:to_account_id] %>
    <%= hidden_field_tag :from, params[:from] %>

    <div class="form-group">
      <label for="transfer_amount">Transfer:</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= text_field_tag :amount, nil, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label for="transfer_to_account_id">To:</label></br>
      <p class="form-control-static">
        <% if params[:to_account_id].present? %>
          <%= @to_account.display_name %>
        <% else %>
              Entire class
        <% end %>
      </p>
    </div>

    <div class="form-group">
      <label for="transfer_from_account_id"><b>From:</b></label>
      <p class="form-control-static">
        <% if params[:from_account_id].present? %>
          <%= @from_account.display_name %>
        <% else %>
          Entire class
        <% end %>
      </p>
    </div>

    <div class="form-group">
      <label for="transfer_from_account_id"><b>Description:</b></label>
      <%= text_area_tag :description, "", class: "form-control", rows: 3 %>
    </div>

    <div class="form-group">
      <label for="transfer_from_account_id"><b>Occurred On:</b></label>
      <%= text_field_tag :occurred_on, I18n.l(DateTime.now, format: :date), class: "form-control" %>
    </div>

    <div class="form-group pull-right">
      <%= submit_tag "Create Transfer", class: "btn btn-success" %>
      <%= link_to "Cancel", @group, class: "btn btn-danger" %>
    </div>

  <% end %>
</div>