<% cls = nil
  if local_assigns.has_key?(:account_id)
    if account_id == transaction.to_account_id
      cls = "class=success"
    else
      cls = "class=error"
    end
  end
%>

<tr <%= cls %>>
  <td><%= transaction.id %></td>
  <td><%= transaction.from_account.display_name %></td>
  <td><%= transaction.to_account.display_name %></td>
  <td><%= number_to_currency(transaction.amount) %></td>
  <td><%= transaction.description %></td>
  <td><%= I18n.l transaction.occurred_on, format: :medium %></td>
  <td><%= I18n.l transaction.created_at, format: :medium %> by <%= transaction.user.display_name %></td>
</tr>
