<%# local_params = {} %>
<%# local_params[:account_id] = account_id if local_assigns.has_key?(:account_id) %>

<%= render partial: "/groups/top", locals: { current_nav: "transactions" } %>


<div class="row">
  <div class="col-md-12">
    <h2>Transactions</h2>
    <p>Transactions occur any time money is transferred between accounts.</p>
  </div>
</div>
<h3>Listing Transactions <%= "for #{@account.display_name}" if @account %></h3>

<%= will_paginate @transactions if @transactions %>
<table class="table table-striped table-bordered">
  <thead>
    <th>ID</th>
    <th>From</th>
    <th>To</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Occurred On</th>
    <th>Entered On</th>
    <th>Dispute</th>
    <% if current_user.admin? %>
      <th>Undo</th>
    <% end %>
  </thead>
  <tbody>
  <% if @transactions && @transactions.count > 0 %>
    <% @transactions.each do |transaction| %>
      <% cls = nil
        if params[:account_id]
          if params[:account_id].to_i == transaction.to_account_id
            cls = "class=success"
          else
            cls = "class=danger"
          end
        end
      %>
      <tr <%= cls %>>
        <td><%= transaction.id %></td>
        <td><%= link_to(transaction.from_account.display_name, group_account_path(@group, transaction.from_account)) if transaction.from_account.present? %></td>
        <td><%= link_to(transaction.to_account.display_name, group_account_path(@group, transaction.to_account)) if transaction.to_account.present? %> </td>
        <td>
          <% if cls %>
            <i class="<%= cls == "class=success" ? "icon-arrow-up" : "icon-arrow-down" %>"></i>
          <% end %>
          <%= display_balance(transaction.amount) %>
        </td>
        <td><%= transaction.description %></td>
        <td><%= I18n.l transaction.occurred_on, format: :medium %></td>
        <td><%= I18n.l transaction.created_at, format: :medium %> by <%= transaction.user.display_name %></td>
        <td>
          <% if transaction.disputes.count > 0 %>
            <%= link_to "Disputed", group_dispute_path(@group, transaction.disputes.first)  %>
          <% else %>
            <%= link_to "Dispute", new_group_dispute_path(@group, transaction_id: transaction)  %>
          <% end %>
        </td>
        <% if current_user.admin? %>
          <td><%= link_to "Undo", undo_group_transaction_path(@group, transaction), data: { remote: true }  %></td>
        <% end %>
      </tr>
    <% end %>
  <% else %>
    <tr><td colspan="100">No transactions for this account.</td></tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @transactions if @transactions %>