<script type="text/javascript">
  $(document).ready(function() {
    $('#occurred_on').datepicker({
        format: 'mm/dd/yyyy'
    });
  });
</script>

<center><h1>Transfer Funds</h1></center>

<%= form_tag create_class_transaction_group_transactions_path(@group), class: "form-horizontal" do %>

  <%= render partial: "/shared/errors", locals: { o: @transaction } %>

  <%= hidden_field_tag :from_account_id, params[:from_account_id] %>
  <%= hidden_field_tag :to_account_id, params[:to_account_id] %>
  <%= hidden_field_tag :from, params[:from] %>

  <div class="well">
    <div class="control-group">
      <label class="control-label" for="transaction_amount"><b>Transfer:</b></label>
        <div class="controls">
          $<%= text_field_tag :amount %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="transaction_to_account_id"><b>To:</b></label>
      <div class="controls">
        <label style="padding-top:5px;">
          <% if params[:to_account_id].present? %>
            <%= @to_account.display_name %>
          <% else %>
            Entire class
          <% end %>
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="transaction_from_account_id"><b>From:</b></label>
      <div class="controls">
        <label style="padding-top:5px;">
          <% if params[:from_account_id].present? %>
            <%= @from_account.display_name %>
          <% else %>
            Entire class
          <% end %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="transaction_from_account_id"><b>Description:</b></label>
      <div class="controls">
        <%= text_area_tag :description, "", class: "input-xxlarge", rows: 3 %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="transaction_from_account_id"><b>Occurred On:</b></label>
      <div class="controls">
        <%= text_field_tag :occurred_on, I18n.l(DateTime.now, format: :date) %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= submit_tag "Submit", class: "btn" %>
      </div>
    </div>

  </div>
<% end %>