<div class="well">
  <%= form_for([@group,@charge]) do |f| %>

    <%= render partial: "/shared/errors", locals: { o: @charge } %>

    <div class="field">
      <% if @charge.account_id %>
        <%= f.label :account_id %>
        <%= @charge.account.display_name %>
        <%= f.hidden_field :account_id, value: @charge.account_id %>
        <br/><br/>
      <% else %>
        <%= f.label :account_id %>
        <%= f.select :account_id, accounts_for_select(@accounts) %>
      <% end %>
   </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: "input-xxlarge", rows: 3 %>
    </div>

    <div class="field">
      <%= f.label :amount %>
      $<%= f.text_field :amount %>
    </div>

    <div class="actions">
      <%= f.submit nil, class: "btn" %>
    </div>
  <% end %>
</div>
