<!DOCTYPE html>
<html lang="en" ng-app="ClassroomEconomy">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Classroom Economy" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Classroom Economy" %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "angular_app" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43876833-1', 'classroom-economy.com');
    ga('send', 'pageview');

  </script>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <%= render 'layouts/navigation' %>
  <div id="main" role="main">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <%= render 'layouts/messages' %>demoController.clientId
            <div ng-controller="DemoController as demoController" >
              {{ demoController.clientId }}
            </div>

            <div ng-controller="GroupsController as groupController">
              <h1>Groups</h1>
              <hr>
              <table class="table table-striped table-bordered">
                <tr>
                  <th>Name</th>
                  <th>Owner</th>
                  <th></th>
                  <th></th>
                </tr>
                <tr ng-repeat="group in groupController.groups">
                  <td>{{ group.name }}</td>
                  <td>{{ group.user }}</td>
                  <td><a href="" ng-click="groupController.editGroup($index)"><i class='icon-cog'></i>Edit</a></td>
                  <td><a href="" ng-click="groupController.deleteGroup(group.id, $index)">Delete</a></td>
                </tr>
              </table>

              <ul>
                <li ng-repeat="group in groupsController.groups">
                  {{ group.name }}
                </li>
              </ul>
            </div>
            <%= yield %>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>

</html>
