<%= form_for(@account) do |f| %>

  <%= render partial: "/shared/errors", locals: { o: @job } %>

  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.number_field :owner_id %>
  </div>
  <div class="field">
    <%= f.label :owner_type %><br />
    <%= f.text_field :owner_type %>
  </div>
  <div class="field">
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
