<%= render partial: "/groups/top", locals: { current_nav: "accounts" } %>

<div class="row">
  <div class="col-12">
    <h2>Accounts</h2>
    <p>This is a list of the accounts for this class.</p>
  </div>
</div>

<h3>Listing Student Accounts</h3>

<table class="table table-striped table-bordered">
  <tr>
    <th>Owner</th>
    <th>Balance</th>
    <th></th>
  </tr>

<% @user_accounts.each do |account| %>
  <% if current_user.owns_or_manages_account?(account) || current_user.teacher? %>
    <tr>
      <td><%= link_to(account.display_name, group_account_path(@group, account)) %></td>
      <td><%= display_balance(account.balance) %></td>
      <td><%= link_to "Transactions", group_transactions_path(@group, account_id: account), class: "btn btn-default" %> </td>
    </tr>
  <% end %>
<% end %>
</table>

<h3>Listing Store Accounts</h3>

<table class="table table-striped table-bordered">
  <tr>
    <th>Owner</th>
    <th>Balance</th>
    <th></th>
  </tr>

<% @store_accounts.each do |account| %>
  <% if current_user.owns_or_manages_account?(account) || current_user.teacher? %>
    <tr>
      <td><%= link_to(account.display_name, group_account_path(@group, account)) %></td>
      <td><%= display_balance account.balance %></td>
      <td><%= link_to "Transactions", group_transactions_path(@group, account_id: account), class: "btn btn-default" if current_user.owns_or_manages_account?(account) || current_user.teacher?  %> </td>
    </tr>
  <% end %>
<% end %>
</table>
