<%= render partial: "/groups/top", locals: { current_nav: "accounts" } %>

<h2>Account for <%= @account.display_name %></h2>
<hr>
<% if @account.owner_type == "Store" %>
  <p>
    <b><%= @account.owner.users.count == 1 ? "Owner:": "Owners:" %></b>
    <% @account.owner.users.each_with_index do |user, index| %>
      <%= ", " if index != 0 %>
      <%= user.display_name %>
    <% end %>
  </p>
<% end %>
<p>
  <b>Balance:</b>
  <%= display_balance(@account.balance) %>
</p>
<p>
</p>

<hr>

<h2>Last 20 Transactions</h2>
<%= link_to "All Transactions", group_transactions_path(@group, account_id: @account.id), class: "btn"  %><br/><br/>
<%= render partial: '/transactions/transactions', locals: { transactions: @account.transactions.order("created_at DESC").limit(20), account_id: @account.id } %>
